.html, .css{
    border-bottom: 3px solid black;
  }
  .font{
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
  }
  .profile{
    padding: 50px;
    width: 70%;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    align-self: center;
    background-color: #32CD32;
    color: white;

  }
  .achievements{
      display: inherit;
      justify-content: space-around;
  }